# Export all names
exportPattern(".")
import(RPMG)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "box", "boxplot", "grid",
             "hist", "lines", "locator", "mtext", "par", "plot",
             "points", "text")
importFrom("stats", "density", "sd", "var")
importFrom("utils", "read.csv", "write.table")
